* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  text-decoration: none;
  transition: box-shadow 0.1s ease, opacity 0.2s ease, color 0.1s ease-in,
    background 0.3s ease-in, transform 0.2s ease;
}

.app {
  background: #cdf325;
  height: 100vh;
}
main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  max-width: 1440px;
  /* height:  */
  margin: 0 auto;
}
section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 5em;
  width: fit-content;
  align-items: center;
  background: #eee;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  padding: 1.5em 1em;
}
/* .card:hover {
  background: #fff;
} */
em {
  font-weight: bold;
}
